<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-ouralabs"
        version="1.3.0">

    <name>Ouralabs</name>

    <description>
      This is a Cordova plugin for the Ouralabs centralized remote logging platform. https://www.ouralabs.com
    </description>

    <license>MIT</license>

    <!-- JavaScript Interface -->
    <js-module src="www/ouralabs-plugin.js" name="OuralabsPlugin">
        <clobbers target="OuralabsPlugin" />
    </js-module>

    <!-- Android Configuration -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="OuralabsPlugin">
                <param name="android-package" value="com.ouralabs.OuralabsPlugin" />
            </feature>
            <access origin="https://*.ouralabs.com" />
        </config-file>

        <source-file src="src/android/Ouralabs.java" target-dir="src/com/ouralabs" />

        <source-file src="src/android/OuralabsPlugin.java" target-dir="src/com/ouralabs" />

    </platform>

    <!-- iOS Configuration -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="OuralabsPlugin">
                <param name="ios-package" value="OuralabsPlugin" />
            </feature>
            <access origin="https://*.ouralabs.com" />
        </config-file>

        <header-file src="src/ios/Ouralabs.h" />
        <source-file src="src/ios/Ouralabs.m" />

        <header-file src="src/ios/OuralabsPlugin.h" />
        <source-file src="src/ios/OuralabsPlugin.m" />

        <framework src="SystemConfiguration.framework" />
        <framework src="libz.dylib" />

    </platform>

</plugin>
